.score-table{
    display: table;
    width: 75%;
}

.score-line{
    display: table-row;
    flex: content-box;
}

.players-column{
    display: table-cell;
    width: 30%;
}

.current-game-score-column{
    display: table-cell;
    width: 20%;
}

.set-score-column{
    display: table-cell;
    width: 10%;
}